body {
    background: #222;
    text-align: center;
    margin: 0;
    overflow: hidden;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    font-size: 20pt;
}

p {
    font-size: 11pt;
}

button {
    color: white;
    background: #222;
    border: 0;
    height: 29px;
    margin-left: -5px;
    border-radius: 0 7px 7px 0;
    cursor: pointer;
}

button:hover {
    background: #333;
}

input {
    border-radius: 7px 0 0 7px;
    height: 25px;
    border: 1px solid #222;
    padding-left: 5px;
}

img {
    margin: 0 auto;
}

.pop-up {
    top: 15%;
    position: absolute;
    left: 39%;
}

.container {
    position: absolute;
    background: #fffad5;
    padding: 20px;
    width: 330px;
    margin: 0;
    top: 60%;
    right: -21%;
}

.cross {
    position: absolute;
    top: 5%;
    background: #333;
    border-radius: 50%;
    width: 16px;
    text-align: center;
    color: white;
    left: 3%;
    cursor: pointer;
    font-size: 9pt;
}

/* POP-UP ANIMATION STYLES */

#pop-up {
    top: -550px;
    transform-origin: 5px 5px;
    animation: drop 0.5s ease forwards,
               swing 1.5s 3s ease-in-out forwards;
}

@keyframes drop {
    0% {}
    70% { transform: translateY(680px) }  
    100% { transform: translateY(650px) }  
}

@keyframes swing {
    0% { transform: translateY(650px) rotateZ(0deg) }
    40% { transform: translateY(650px) rotateZ(90deg) }
    70% { transform: translateY(650px) rotateZ(70deg) }
    100% { transform: translateY(650px) rotateZ(75deg) }
}